<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.botservice.suit.TestngSuitSetting" />
<!-- 			<class -->
<!-- 				name="idv.hsiehpinghan.botservice.operator.ExchangeRateDownloaderTest" /> -->
			<class name="idv.hsiehpinghan.botservice.entity.ExchangeRateTest" />
		</classes>
	</test>
</suite>