<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.mopsservice.suit.TestngSuitSetting" />
<!-- 			<class name="idv.hsiehpinghan.mopsservice.operator.FinancialReportDownloaderTest" /> -->
<!-- 			<class name="idv.hsiehpinghan.mopsservice.manager.hbase.MopsHbaseManagerTest" /> -->
			<class name="idv.hsiehpinghan.mopsservice.operator.FinancialReportCalculatorTest" />
		</classes>
	</test>
</suite>